.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }
  
.marquee h3 {
    position: absolute;
    animation: marquee 10s linear infinite;
     /* Adjust the duration as needed */
    -webkit-animation: marquee 20s linear infinite;
}
  
  @keyframes marquee {
    from {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
}
    to {
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
}
  }

.marquee h4 {
    position: absolute;
    animation: marquee2 10s linear infinite;
    /*Adjustthedurationasneeded*/
    -webkit-animation: marquee2 20s linear infinite;
}
  
  @keyframes marquee2 {
    from {
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
}
    to {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
}
  }