@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0 auto;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-size: 16px;
    overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* font style Hero1.tsx */
.txt-line {
  text-align: center;
  line-height: 1;
  font-size: 6rem;
  font-weight: 700;
  color: #000;
  text-shadow: -1px -1px 1px #ffffff, 1px 1px 1px #ffffff;
}

.txt-fill {
  padding-top: 0.9rem;
  padding-left: 0.9rem;
  text-align: center;
  line-height: 1;
  font-size: 6rem;
  font-weight: 700;
  color: #ffffff;
}


/* interaction for card Team.tsx */
.wrap-img:hover .img-left {
  transform: rotateZ(-25deg);
  -webkit-transform: rotateZ(-25deg);
  -moz-transform: rotateZ(-25deg);
  -ms-transform: rotateZ(-25deg);
  -o-transform: rotateZ(-25deg);
}

.wrap-img:hover .img-right {
  transform: rotateZ(25deg);
  -webkit-transform: rotateZ(25deg);
  -moz-transform: rotateZ(25deg);
  -ms-transform: rotateZ(25deg);
  -o-transform: rotateZ(25deg);
}

.img-right {
  filter: hue-rotate(0deg);
  filter: saturate(100%);
  -webkit-filter: saturate(100%);
}

.wrap-img .img-right:hover{
  filter: hue-rotate(148deg);
  filter: saturate(300%);
  -webkit-filter: saturate(300%);
}

/* interaction pro-list for project.tsx */
.tumb {
  opacity: 0;
}

.pro:hover {
  background-color: #000;
}

.pro:hover .tumb {
  opacity: 1;
}


/* navbar baru */
.wrap-nav {
    top: 0;
    width: 100vw;
    height: 80px;
    z-index: 999;
}


nav {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  width: 100vw;
  background: #fff;
  z-index: 970;
}


.btn-toggle {
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 200px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e14c6c;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  z-index: 980;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}